<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="menu.css" />
<title>Menu1</title>
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
        </div>
        <ul>
            <li>BASICS</li>
            <li>MUSEUMS</li>
            <li>MONUMENTS</li>            
            <li>COMICS</li>
            <li>STREET ART</li>
            <li>MEMORIALS</li>
        </ul>
    </div>
</body>
</html>