.creators{
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 0;
    align-items: center;
}
.photo{
    height: 300px;
    left: 0px;
}

@media screen and (min-width:500px){
    .creator:nth-child(even){
        flex-direction: row-reverse
    }
    .photo-description{
         margin: 50px;    
    }
    .creator{
        display: flex;
    }
}
