
body{
    text-align: justify;
}
.photo{
    height: 300px;
    position: relative;
    left: 100px;
}
.photo-description{
    position: relative;
    left: 100px;    
}

@media screen and (min-width:500px){
    .photo1{
        height: 300px;
        left: 0px;
    }
    .photo1-description{
        left: 240px;
        top: -220px;
    }
    .photo2{
        left: 240px;
        top: -100px;
    }
    .photo2-description{
        left: 0px;
        top: -300px;
    }
    .photo3{
        left: 0px;
        top: -190px;
    }
    .photo3-description{
        left: 240px;
        top: -405px;
    }
    .creators{
        max-height: 449px; 
        max-width: 1440px;
    }
}
