.carte{
    background-image: url('https://www.citymetric.com/sites/default/files/styles/nodeimage/public/article_2016/08/gmaps_head.png?itok=MZsYvZFq') no-repeat center center fixed;
    width:1300px;
    position:fixed;
    left:0;
    z-index: -2;
}

body{
    text-align: justify;
    margin: 1em;
    width:93%;
    position:absolute;
    left:4%;
    
}

.liste-legal{
    width:100%;
    padding:10px;
}


h1{
    text-align: center;
    margin:10px;
}
h2{
    padding:10px;
    padding-bottom:20px 0;
    left:0;
}
h3{
    padding:20px 0;
}
p{
    padding-bottom: 5px;
}