* {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    }
    
    .sideBar{
    position:fixed;
    left:0;
    top:56px;
    margin:0;
    width:220px;
    height:100%;
    background:#335c62; 
    flex-direction:column;
    }
    .typeParcour{
        font-size: 22px;
        color:white;
        max-width:80%;
        padding: 0;
        text-align: center;
        border-top: 1px solid White;
        border-bottom: 1px solid White;
        margin:22px;
        margin-bottom:10px;
        margin-top:10px;
    }
    .welcome{
        color:white;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    .welcome-text{
        font-size: 15px;
        border: 1px solid white;
        text-transform: none;
        max-width: 200px;
        margin:10px;
        padding:8px;
    }
    .adress{
        margin:7%;
        margin-top:0;
    }
    .choix-km{
        color:white;
        padding: 0 20px;
    }
    
    li{
        padding:2px;
        width:100px;
    }
    ul{
        list-style: none;
        margin: 0 62px;
    }
    .back{
        width:40px;
    }
    /*hamburger menu*/
    
    .sidebar .toggle-btn{
    position:absolute;
    left:220px;
    top:15px;
    }
    
    .sidebar .toggle-btn span{
    display:block;
    width:30px;
    height:5px;
    background: black;
    margin:3px 0px;
    }
    
    /* boutons */
    
    .buttonTwo{
    font-family: sans-serif;
    padding:20px 10px;
    outline: none;
    background-color: #578A90;
    border: none;
    border-radius:10px;
    color:white;
    font-size:18px;
    display: block;
    margin: auto;
    }
    .buttonTwo:hover{
    background-color:#49757c;
    color:white;

    }

    /*LABEL*/
    .lab4input{
        display: block;
    }

    .hidden{
        display: none;
    }

    .show{
        display: inline;
    }