.App {
  background-color: #335C62;
}


.Titre{
  display: inline-block; 
  margin-right: 5%; 
  margin-left: 7%;
}
  
    /* RIGHT */

.logo-right{
  max-height: 1.5em;
  width: 1.5em;
  margin-left: 2%;
}

.button-right{
  margin-left: 2%;
}

@media screen and (min-width: 800px){

}

@media screen and (min-width: 800px){

}