.header {
  background-color: #335C62;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  position: relative;
}


.title{
  color: white;
}
  
    /* RIGHT */

.logo-right{
  max-height: 1.5em;
  width: 1.5em;
  margin-left: 2%;
}

.button-right{
  margin-left: 2%;
}

@media screen and (min-width: 415px){
  .title{
    margin-left: 35%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 800px){

  .btn_group{
    display: flex;
    position: absolute;
    top:50%;
    right: 0%;
    transform: translate(-50%,50%);
    align-items: baseline;
    flex-direction:row;
  }
}