*{
	padding:0;
	margin:0;
}

footer{
	background-color: #335c62;
	padding: 5px;
	color: #fff;
	width:100%;
	position:absolute;
	z-index: -1;
	height:40px;
}

.footer-link{
	text-align: center;
	margin: 0;
	margin-right:0;
	display: block;
	width:100%;
	height:auto;
	position:relative;
	text-decoration: none;
	color:white;
}
.footer-list{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	list-style: none;
	position:relative;
	top:10px;
	color:white;
}

 @media screen and (min-width:500px){
	.footer-list{
		flex-direction: row;
		justify-content: flex-end;
  }
}  


