footer{
	background-color: #335c62;
	padding: 5px;
	color: #fff;
}

.footer-link{
	text-align: center;
	margin: 1em;
  display: block;
}
.footer-list{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	list-style: none;
}

 @media screen and (min-width:500px){
	.footer-list{
		flex-direction: row;
		justify-content: flex-end;
  }
}  
